*     { background:none !important; text-align:left !important; }
html  { margin:0 !important; padding:0 !important; }
body  { background:#fff !important; font-size:9pt !important; padding:0 !important; margin:10px !important; }
a     { color:#2976c9 !important; }
th,td { color:#2f2f2f !important;  border-color:#ccc !important; }
h3 { font-size: 15px; }

.header-container,
.nav-container,
.footer-container,
.pager,
.toolbar,
.actions,
.buttons-set,
.breadcrumbs,
.sidebar, 
.link-print { display:none !important; }

.page-print .data-table .cart-tax-total { background-position:100% -54px; }
.page-print .data-table .cart-tax-info { display:block !important; }

.compare-table { display:block !important; }
.compare-table-mobile { display:none !important; }
.main > .container { max-width:none; }
table { border-style:solid; border-width:1px 0 0 1px; border-color:#dcdcdc; border-collapse: collapse !important; border-spacing: 0; empty-cells: show;
font-size: 100%; width: 100%; }
.data-table { border-style:solid; border-width:1px 0 0 1px; border-color:#dcdcdc; border-collapse: collapse important; }
table th, table td,
.data-table th,
.data-table td { border-style:solid; border-width:0 1px 1px 0 !important; vertical-align:middle; }
.button { border-width:0 !important; background-image:none !important; color:#444444; text-indent:0; display:block !important; margin:0 !important; padding:0 !important; }
thead tr,
tfoot tr { background-color:#f7f7f7; }
table .a-right * { text-align:right !important; }
.compare-table .add-to-links { display:none !important; }
.compare-table .btn-remove { display:none !important; }
a[href]:after { content: "" !important; }


