#pl-show-more-button {
  color:#aaa;
  background-color: transparent;
  padding-bottom: 0;
  &:focus {
    outline: 0;
  }
}


div.pl-checkpoint {
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #eee;
  &.pl-checkpoint-success {
    // background-color: #dff0d8;
    // border-color: #d6e9c6;
  }
  &.pl-checkpoint-danger {
    // background-color: #f2dede;
    // border-color: #ebccd1;
  }
  small {
    opacity: .6;
  }
}

div.pl-alert {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #eee;
  &.pl-alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  &.pl-alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  small {
    opacity: .6;
  }
}

div.pl-icon {
  float: left;
  margin: 0 15px 0 0;
}

a.lang-select:hover {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

.pl-alert {
  color: #000000;
}


div.pl-header {
  div.pl-order-no {
    font-size: 1.5em;
    opacity: .6;
  }
  div.pl-order-sub {
    font-size: 0.8em;
    opacity: .6;
    margin-bottom: 15px;
  }
  overflow-x: hidden;
}

div.pl-tab-container {
  max-width: unset;
  width: unset;
  margin: 0;
  margin-left: -15px;
  margin-right: -15px;
  
  & > div {
    padding: 0 15px;
  }
}

div.pl-order-subheading {
  opacity: .6;
}

div.pl-tab {
  padding: 10px 25px;
  opacity: 0.5;
  text-align: left;
  &:hover {
    // cursor: pointer;
    cursor: default;
    opacity: 0.8;
  }
  &.pl-active {
    opacity: 1;
  }
  div + div {
    text-align: left;
  }

  div.pl-tab-content {
    width: 100%;
    position: relative;
    div.pl-tab-text {
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 40px;
      
      span.pl-tab-text-tno {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      span.pl-tab-text-status {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
      }
    }
    div.pl-status {
      position: absolute;
      top: 0;
      right: 0;
      div.pl-icon {
        margin: 0;
        float: unset;
      }
    }
  }

}

div.pl-more-infos {
  border: 1px #ddd dashed;
  padding: 10px 15px;
  border-radius: 5px;
}

div.pl-icon-hr-container {
  position: relative;
  max-width: 500px;
  height:32px;
  margin: 0 auto 50px auto;
  .pl-icon-hr {
    width: 100%;
    border-bottom: 1px dashed #eee;
    position: absolute;
    top: 16px;
  }
  .pl-hr-icon {
    background-color: #fff;
    width: 50px;
    &>img {
      margin: 0 auto;
    }
    &-left {
      position: absolute;
      left:0;
      top: 0;
    }
    &-right {
      position: absolute;
      right: 0;
      top: 0;
    }
    &-center {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}