#pl-show-more-button {
  color:#aaa;
  background-color: transparent;
  &:focus {
    outline: 0;
  }
}


div.pl-checkpoint {
  &:not(:last-of-type) {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dashed #eee;  
  }
  .pl-checkpoint-date {
    font-size: .7em;
    opacity: .6;
  }
  
  &:first-of-type > .pl-checkpoint-status {
    font-size: 1.4em;
  }  
  &:first-of-type > .pl-checkpoint-details {
    font-size: 1.2em;
  }  
}

// hide checkpoints on mobile
@media(max-width: 748px) {
  .pl-box-trace .pl-checkpoints:not(.pl-checkpoints-show-all) {
    & > .pl-checkpoint:not(:first-of-type) {
      display: none;
    }
    & > #pl-courier-fwd-link {
      display: none;
    }
  }
}

div.pl-alert {
  padding: 15px;
  border: 1px solid #eee;
  &.pl-alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  &.pl-alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  small {
    opacity: .6;
  }
}

div.pl-icon {
  float: left;
  margin: 0 15px 0 0;
}

a.lang-select:hover {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

.pl-alert {
  color: #000000;
}

div.pl-icon-hr-container {
  position: relative;
  max-width: 500px;
  height:32px;
  margin: 0 auto 50px auto;
  .pl-icon-hr {
    width: 100%;
    border-bottom: 1px dashed #eee;
    position: absolute;
    top: 16px;
  }
  .pl-hr-icon {
    background-color: #fff;
    width: 50px;
    &>img {
      margin: 0 auto;
    }
    &-left {
      position: absolute;
      left:0;
      top: 0;
    }
    &-right {
      position: absolute;
      right: 0;
      top: 0;
    }
    &-center {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}