// GENERAL
* {
  font-size: 14px;
  // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.42857;
}

.hide-on-mobile {
  @media(max-width: 749px) {
    display: none;
  }
}

.hide-on-desktop {
  @media(min-width: 750px) {
    display: none;
  }
}

// GRID
.pl-container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 0;
  box-sizing: border-box;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.pl-col-row, .pl-cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.pl-col {
  width: 100%;
  float: left;
  box-sizing: border-box;
}
/* BREAKPOINT ~> For devices larger than ... */
@media (min-width: 750px) {
  .pl-col {
    margin-left: 0;
  }
  .pl-col-1                  { width: 8.33333333%;  }
  .pl-col-2                  { width: 16.66666667%  }
  .pl-col-3                  { width: 22%;          }
  .pl-col-4                  { width: 33.33333333%; }
  .pl-col-5                  { width: 41.66666667%  }
  .pl-col-6                  { width: 50%;          }
  .pl-col-7                  { width: 58.33333333%; }
  .pl-col-8                  { width: 66.66666667%; }
  .pl-col-9                  { width: 75%;          }
  .pl-col-10                 { width: 83.33333333%; }
  .pl-col-11                 { width: 91.66666667%; }
  .pl-col-12                 { width: 100%;         }

}
.pl-container:after {
  content: "";
  display: table;
  clear: both; }

.pl-box {
  background-color: #fff;
  padding:0;
  box-sizing: border-box;
  .pl-box-heading {
    font-size: 1.5em;
    padding: 25px;
    text-align: center;
    @media(max-width: 1000px) {
      font-size: 1.3em;
    }    
  }
  .pl-box-body {
    padding: 25px;
  }
  .pl-box-footer {
    padding: 25px;
  }
}

.pl-img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

#pl-shop-info-container .pl-box-body>a,
#pl-shop-info-details-container .pl-box-body>a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}

.pl-button {
  padding: 1em 2.5em;
  border: 0;
  font-size: 1em;
  line-height: 1;
  text-align: center;
  transition: opacity .2s ease;
  text-decoration: none;
  transform: scale(1);
  display: inline-block;
  box-sizing: border-box;
  &:active {
    transform: scale(.98);
  }
  &:hover {
    opacity: .8;
  }
}

.pl-is-fullwidth {
  width: 100%;
}

.pl-spaced-list {
  padding: 0;
  margin: 0;
  & > *:not(:first-child) {
    margin-top: 15px;
  }
}

.pl-space-top {
  margin-top: 15px;
}
.pl-space-bottom {
  margin-bottom: 15px;
}

.pl-space-right {
  margin-right: 15px;
}

input[type="email"].pl-form-input,
input[type="number"].pl-form-input,
input[type="search"].pl-form-input,
input[type="text"].pl-form-input,
input[type="tel"].pl-form-input,
input[type="url"].pl-form-input,
input[type="password"].pl-form-input,
textarea.pl-form-input,
select.pl-form-input {
  height: 35px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"].pl-form-input,
input[type="number"].pl-form-input,
input[type="search"].pl-form-input,
input[type="text"].pl-form-input,
input[type="tel"].pl-form-input,
input[type="url"].pl-form-input,
input[type="password"].pl-form-input,
textarea.pl-form-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.pl-reroute-link {
  margin-bottom: 15px;
}

.pl-reduced-margin {
  margin-bottom: 15px;
}

.pl-sk-three-bounce {
  margin: 40px auto;
  width: 80px;
  text-align: center; 
}
.pl-sk-three-bounce .pl-sk-child {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: pl-sk-three-bounce 1.4s ease-in-out 0s infinite both;
          animation: pl-sk-three-bounce 1.4s ease-in-out 0s infinite both; 
}
.pl-sk-three-bounce .pl-sk-bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s; }
.pl-sk-three-bounce .pl-sk-bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s; }

@-webkit-keyframes pl-sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes pl-sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.pl-shop-footer {
  padding-top: 25px;
  .pl-shop-details {
    text-align: center;
    address {
      font-style: normal;
    }
  }
}
.pl-contact-btn {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 5px;
  color: rgb(56, 56, 56);

}

.pl-note-box {
  padding: 15px 25px;
  position: relative;
  .pl-close-note-box {
    position: absolute;
    top: 15px;
    right: 5px;
    font-size: 20px;
    color: #d3d3d3;
    transition: all .2s linear;
    &:hover {
      transform: rotate(180deg);
      transition: all .2s linear;
    }
  }
  .pl-note-close-text {
    position:absolute;
    font-size: 10px;
    bottom: 2px;
    left: 0px;
    color: #d3d3d3;
    opacity: .6;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#pl-main-box {

  #pl-tracking-heading {
    // opacity: .3;
    color: #aaa;
    font-size: 1em;
    font-weight: 200;
    padding: 25 25 0;
    // text-align: left;
  }

  #pl-tracking-body {
  }

  @media(max-width: 749px) {
    border: none;
    box-shadow: none;

    #pl-tracking-heading {
      padding: 15 0 5;
    }

    #pl-tracking-body {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
}

.pl-state-icon-active {
  opacity: 1;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}

.pl-state-icon-inactive {
  opacity: .3;
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
}
