div.pl-header {
  & > .pl-box-body {
    padding-bottom: 0;
  }
  &.pl-header-plain {
    margin-bottom: 30px;
  }
  div.pl-order-no {
    font-size: 1.6em;
    opacity: .6;
  }
  div.pl-order-sub {
    font-size: 1.2em;
    opacity: .4;
  }
  
  .pl-split-order {
    padding: 20px;
    white-space: nowrap;
    overflow-x: auto;
    &-entry {
      cursor: pointer;
      padding: 10px 10px 10px 20px;
      display: inline-block;
      width: 320px;
      height: 60px;
      margin: 0 30px 0 0;
      text-align: left;
      &-active {
        transform: scale(1.02, 1.02);
        transition: all .1s linear;
        -webkit-transform: scale(1.02, 1.02);
        -webkit-transition: all .1s linear;
        -moz-transform: scale(1.02, 1.02);
        -moz-transition: all .1s linear;
        box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.4);
        opacity: 1;
      }
      &-not-active {
        transition: all .1s linear;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        opacity: .4;
      }
      &-icon {
        width:20%;
        float: left;
      }
      &-text {
        padding-top: 4;
        float: left;
        width:80%;
        &-tno, &-status {
          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          line-height: 1.1em;
          text-overflow: ellipsis;
        }
        &-tno {
          font-size: 1.2em;
        }
        &-status {
          opacity: .8;
        }
      }
    }
  }
}
