.pl-mobile-tracking {
  margin-bottom: 15px;
  &-active {
    .pl-mobile-tracking-heading-toggleicon {
      img {
        transform: none;
      }
    }
    .pl-mobile-tracking-body {
      height: auto;
      visibility: visible;
      transition: all 1s linear;
    }
  }
  &-heading {
    padding: 15px;
    position: relative;
    &-statusicon {
      transition: all .2s linear;
      position: absolute;
      top: 17px;
      left: 10px;
    }
    &-toggleicon {
      transition: all .2s linear;
      position: absolute;
      top: 20px;
      right: 10px;
      img {
        transition: all .2s linear;
        transform: rotate(45deg);
      }
    }
    &-text {
      padding-right: 25px;
      padding-left: 30px;
      &-tno, &-status {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        line-height: 1.1em;
        text-overflow: ellipsis;
      }
      &-tno {
        font-size: 1.2em;
      }
      &-status {
        opacity: .8;
      }
    }
  }
  &-body {
    height: 0px;
    visibility: hidden;
    transition: all 1s linear;
    overflow: hidden;
    & > .pl-box {
      border-left: 0px;
      border-right: 0px;
      border-bottom: 0px;
      border-radius: 0px;
    }
    & > .pl-box:last-of-type {
      margin-bottom: 5px;
    }
  }
}
