.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 2em;
  color: #ddd;
}
.rating > span:hover,
.rating > span:hover ~ span {
  //  content: "\2605";
  color: #58B957;
  cursor: pointer;
}

.rating-body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  height: 70px;
  align-items: center;
  color: #aaa;

  & > div {
    font-size: 1.8em;
    flex-grow: 1;
    text-align: center;
    .fa {
      transition: all .2s linear;
    }

    &:hover {
      cursor: pointer;
      &.up {
        color:#58B957;
      }
      &.down {
        color:#d0524e;
      }
      .fa {
        transition: all .2s linear;
        transform: scale(1.4);
      }
    }
  }

}
