<!--
  layout.hbs
  -
  Context:
    {Object} data - API response data
    {Object} props - parcelLab instance props
-->



{{!-- HACK aside hidden if no parcellab styles ... --}}
<div class="pl-col-row">

  <aside  style="display: none;" class="pl-box-aside pl-col pl-col-4">
    <div id="pl-shop-info-container"></div>
    <div id="pl-action-box-container"></div>
  </aside>


  <main class="pl-main pl-col pl-col-12">
    <div class="pl-box">
      <div class="pl-box-heading">
        {{[generate/Heading] data props}}
      </div>

      <!-- Tabs -->
      {{#[helpers/equals] data.header.length 1}}
      {{else}}
        <div class="pl-container pl-tab-container">
          {{#[helpers/tabbify] data props}}
            {{> tab}}
          {{/[helpers/tabbify]}}
        </div>
      {{/[helpers/equals]}}



      <!-- Trackings-Container -->
      {{#[helpers/trackify] data props}}
        <div class="parcel_lab_tracking {{#unless visible}}hidden{{/unless}}" id="pl-t-{{id}}">
          <div class="pl-box-body">

              <div class="pl-padded">
                {{#each checkpoints}}
                  {{> checkpoint}}
                {{/each}}
              </div>

            </div>
          <div class="pl-box-footer">
            {{{[generate/FurtherInfosText] this ../this}}}
          </div>
        </div>
      {{/[helpers/trackify]}}
    </div>
  </main>

</div>

<div id="pl-mobile-shop-info-container" class="hide-on-desktop"></div>
