<div class="pl-box pl-prediction">
  <div class="">
    <input type="hidden" value="{{status}}">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="pl-row pl-alert no-background">
        <div class="pl-icon">
          <span class="fa-stack fa-lg" style="color:">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-flag-checkered fa-stack-1x fa-inverse"></i>
        </span>
        </div>
        <div style="display: table-cell;">
          <p>{{{text}}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
